/* @font-face {
    font-family: park;
    src: url(NationalPark-Thin.otf);
} */

:root {
    --slack-green: #007A59;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

#upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#upper h3 {
    cursor: pointer;
}

#upper-left {
    justify-content: flex-start;
}

.slack-logo {
    width: 210px;
    height: 90px;
}

#upper-center {
    margin-right: 20px;
    color: grey;
}

#upper-right {
    background-color: var(--slack-green);
    color: white;
    border-radius: 15px;
    width: 15%;
    padding: 20px;
    text-align: center;
}

#upper-search {
    width: 260px;
    border-radius: 10px;
    border: 1px black solid;
    height: 100%;
    color: #ddd;
    opacity: 0.8;
    cursor: text;
    margin: 0 10px;
    padding: 10px;
}

#upper {
    box-shadow: 10px -10px 45px 0px rgba(184, 165, 184, 0.52);
}

#body-content {
    background-color: whitesmoke;
    height: 110vh;
    padding: 15px;
    width: 95%;
    padding: 15px 85px;
}

#body-content ul {
    padding-top: 0;
}

h1 {
    padding-bottom: 10px;
}

#body-nav {
    background-color: whitesmoke;
    flex-direction: row;
    width: 30%;
}

ul {
    padding-top: 20px;
}

#body-nav li {
    list-style-type: none;
    text-align: right;
    line-height: 25px;
    top: 165px;
    cursor: pointer;
}

#body-flex {
    display: flex;
}

#body-content-text {
    background-color: white;
    height: 100vh;
    padding: 7px 45px;
    width: 70%;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 25px;
    border-radius: 9px;
    font-weight: 400;
}

.cursor-explination {
    text-align: right;
    width: 20%;
    float: right;
    visibility: hidden;
    font-size: 0.75em;
    line-height: 15px;
    margin-top: 400px;
    background-color: white;
    border-radius: 9px;
    padding: 5px;
}

.cursor-explination-visibility {
    visibility: visible;
    animation: fadeIn ease 700ms;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
}

#cursors {
    width: 80px;
    height: 80px;
}

#attention {
    border: 0.8px var(--slack-green) solid;
    border-radius: 9px;
    padding: 15px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}